<div class="container-fluid">
  <app-page-title title="{{'MENUITEMS.QUESTIONNAIRE_ADMIN.QUESTIONNAIRE_TEMPLATES' | translate}}" ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..." [(ngModel)]="term" (ngModelChange)="searchOrder()">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="editRecord(-1)"><i class="mdi mdi-plus mr-1"></i>
                  {{'GENERIC.ADD' | translate}}</button>
              </div>
            </div><!-- end col-->
          </div>
          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="order-list">
              <thead class="table-light">
              <tr>
                <th class="align-middle">{{'GENERIC.NAME' | translate}}</th>
                <th class="align-middle">{{'GENERIC.ACTIONS' | translate}}</th>
              </tr>
              </thead>
              <tbody>
                @for (data of questionnaireTemplates; track $index) {
                  <tr id="o_{{data.id}}">
                    <td>{{data.name}}</td>
                    <td>
                      <div class="d-flex gap-3">
                        <a href="javascript:void(0);" class="text-success" (click)="editRecord(data.id)"><i class="mdi mdi-pencil font-size-18"></i></a>
                        <a href="javascript:void(0);" class="text-danger" (click)="confirm(data.id)"><i class="mdi mdi-delete font-size-18"></i></a>
                      </div>
                    </td>
                  </tr>}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="removeItemModal.hide()"></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">{{'GENERIC.DELETE_CONFIRMATION' | translate}}</p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger" id="remove-item" (click)="deleteRecord()">{{'GENERIC.DELETE' | translate}}</button>
          <button type="button" class="btn btn-secondary" id="close-removeOrderModal" (click)="removeItemModal.hide()">{{'GENERIC.CANCEL' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end removeItemModal -->
