<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {{year}} © Genomedica.
            </div>
          <div class="col-sm-2">
              <span class="logo-lg">
                <img src="assets/images/e-bannerespa.jpg" alt="" height="65">
              </span>
          </div>
            <div class="col-sm-2">
              <span class="logo-lg">
                <img src="assets/images/banner-espa_ellinika-305x40.jpg" alt="" height="55">
              </span>
            </div>

            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by PI.VA. Innovative Software Solutions
                </div>
            </div>
        </div>
    </div>
</footer>
